@import '../../../Common/mixin.scss';
.type{
    background-color: rgb(223, 227, 235);
    color: rgb(13, 13, 13);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}