  @import '../../Common/mixin.scss';
  .footer{
    background-color: black;
    padding: 20px;
    display: flex;
    flex-flow: wrap;
    gap: 5px;
    justify-content: space-around;
    margin-top: 20px;

    p{
      padding: 5px;
      color:rgb(245, 224, 224);
      font-size: 20px;
      //  @include txt(20px,rgb(250, 242, 246));
    }
    h2{
      color: rgb(210, 229, 245);
      @include tex()
    }
  }

