 @import '../../Common/mixin.scss';
  .header{
    background-color: rgb(4, 4, 4);
    list-style: none;
    display: flex;
    color:floralwhite;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;

    .logo{
      cursor: pointer;
    }
    .center{
      
        display: flex;
        justify-content: center;
        gap: 30px;
        font-size: 2px;
        
        li{
          font-size: 22px;
          cursor: pointer;
          // @include list(1px solid black,20px,rgb(247, 247, 124),black)
        }
        span{
          margin-left: 15px;
        }
        @include hed{
          display: none;
        }
          
    }
    
    .right{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      font-size: 20px;
      cursor: pointer;
    }

    @include hed{
      width: 100%;
    }
}
.head{
  background-color: rgb(4, 4, 4);
  list-style: none;
  color:floralwhite;
  text-align: center;
  padding: 20px;
  line-height: 30px;
  cursor: pointer;
}